---
import MainLayout from "../../layouts/MainLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";
import BlogItem from "@/components/BlogItem.astro";
import PageTitle from "@/components/PageTitle.astro";
import Pagination from "@/components/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });

  return paginate(
    posts.sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1)),
    { pageSize: 10 }
  );
}

const { page } = Astro.props;
const posts: CollectionEntry<"blog">[] = page.data;
---

<MainLayout title="Hieu Nguyen - Blog">
  <PageTitle
    title="Blog"
    description="Where I write tech and non-tech related stories, ideas and insights."
  />
  <Pagination
    page={page.currentPage}
    prev={page.url.prev}
    next={page.url.next}
    className="w-full h-8 flex items-center mb-12 bg-primaryLight dark:bg-primaryDark text-baseLight dark:text-baseDark rounded-md"
  />
  <div>
    {posts.map((post) => <BlogItem post={post} />)}
  </div>
  {
    page.total >= 10 && (
      <Pagination
        page={page.currentPage}
        prev={page.url.prev}
        next={page.url.next}
        className="w-full h-8 flex items-center mt-12 bg-primaryLight dark:bg-primaryDark text-baseLight dark:text-baseDark rounded-md"
      />
    )
  }
</MainLayout>
