---
import MainLayout from "../../layouts/MainLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import BlogItem from "@/components/BlogItem.astro";
import Pagination from "@/components/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });

  return paginate(
    posts.sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1)),
    { pageSize: 10 },
  );
}

const { page } = Astro.props;
const posts: CollectionEntry<"blog">[] = page.data;
---

<MainLayout title="Hieu Nguyen - Blog">
  <Pagination
    page={page.currentPage}
    prev={page.url.prev}
    next={page.url.next}
  />
  <div>
    {posts.map((post) => <BlogItem post={post} />)}
  </div>

  <Pagination
    page={page.currentPage}
    prev={page.url.prev}
    next={page.url.next}
  />
</MainLayout>
