---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  return allPosts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"blog"> };
const { Content } = await entry.render();
---

<MainLayout title={`Hieu Nguyen - ${entry.data.title}`}>
  <div class="mb-12">
    <h1 class="font-bold text-3xl mb-2 md:text-2xl">{entry.data.title}</h1>
    <div class="flex items-center justify-between md:flex-col md:items-start md:space-y-4">
      <div class="flex items-center space-x-2 text-dark/75 dark:text-light/75">
        <p>{entry.data.author}</p>
        <p>•</p>
        <p>{entry.data.publishDate.toLocaleDateString()}</p>
        <p>•</p>
        <p>{entry.data.readingTime} min read</p>
      </div>
      <a
        href="/blog"
        class="text-dark dark:text-light underline hover:text-dark/75 dark:hover:text-light/75 transition-all duration-200 ease-out"
        >Back</a
      >
    </div>
  </div>

  <article
    id="blogPost"
    class="prose-lg md:prose-base dark:text-light prose-headings:font-bold prose-headings:text-primary dark:prose-headings:text-primaryDark prose-a:underline prose-a:text-primary dark:prose-a:text-primaryDark prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:border-dark/75 dark:prose-blockquote:border-light/75 prose-li:list-disc prose-pre:overflow-x-scroll dark:prose-pre:bg-light"
  >
    <Content />
  </article>
</MainLayout>
<script is:inline>
  window.addEventListener('DOMContentLoaded', function() {
    var links = document.querySelectorAll('#blogPost a');
    links.forEach(function(link) {
      link.setAttribute('target', '_blank');
    });
  });
</script>

