---
import type { CollectionEntry } from "astro:content";
// import BlogTag from "./BlogTag.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post: entry }: Props = Astro.props;
const { remarkPluginFrontmatter } = await entry.render();
---

<div class="mb-6 pb-1 border-b border-baseDark/25 dark:border-baseLight/25">
  <a href=`/blog/${entry.slug}` class="hover:opacity-75 leading-relaxed">
    <h1 class="font-bold text-xl md:text-lg">{entry.data.title}</h1>
    <p class="text-dark/75 dark:text-light/75 mb-2">{entry.data.description}</p>
    <div class="flex items-center space-x-2 text-sm text-dark/50 dark:text-light/50">
      <p>{entry.data.publishDate.toLocaleDateString()}</p>
      <p>•</p>
      <p>{remarkPluginFrontmatter.minutesRead}</p>
    </div>

    <!-- {
      post.data.tags && (
        <div class="flex mt-2 text-sm pb-1 w-full flex-wrap">
          {post.data.tags.map((tag) => {
            return <BlogTag tag={tag} />;
          })}
        </div>
      )
    } -->
  </a>
</div>
